<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>Manual</string>
	<key>teamID</key>
	<string>VNU8KKW4GG</string>
	<key>signingCertificate</key>
	<string>iPhone Developer: Vladyslav Stoliarov (N4PUX8MK5B)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>ua.edu.ukma.stoliarov.CatsListView</key>
		<string>Vladyslav Stoliarov</string>
	</dict>
</dict>
</plist>
